<launch>
  <!-- <group ns="correia_roger_turtlebot_assgn4"> -->
    <!-- Gazebo -->
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
      <arg name="world_file" value="$(find minimal_launch)/world/lab.world" />
    </include>
    <include file="$(find ps3joy)/launch/ps3.launch"/>
    <!-- My Controller -->
    <node pkg="minimal_launch" name="controller" type="controller.py" output="screen"/>
    <!-- RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_rviz_launchers)/rviz/navigation.rviz"/>
  <!-- </group> -->
  <!-- slam_gmapping node -->
  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping"/>
</launch>
